<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net452" />
  <package id="ExcelDataReader" version="3.3.0" targetFramework="net452" />
  <package id="ExcelDataReader.DataSet" version="3.3.0" targetFramework="net452" />
  <package id="FileHelpers" version="3.2.7" targetFramework="net452" />
  <package id="GemBox.Document" version="27.3.30.1160" targetFramework="net452" />
  <package id="OpenXmlPowerTools" version="4.5.3.2" targetFramework="net452" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net452" />
</packages>